body { margin: 1cm; }

table { border-collapse: collapse; }
thead tr { border-bottom: 2px solid #aaa; }
th, td { text-align: left; padding: 10px; color: #333; }
tbody tr { border-bottom: 1px solid #ccc; }
tbody tr.even { background-color: #fafafa; }

#query { 
    padding: 10px; 
    display: inline-block;
}

a { 
    color: #335599;
}

h1 { 
    font-size: 1.5em;
}
h2 { 
    font-size: 1.2em;
}
h3 { 
	font-size: 1em;
}

h1 .url {
    display: block; 
    font-size: 0.5em;
    color: #aaa;
}

h1 img { height: 24px; }

#versions { 
    font-size: 0.7em;
}

hr { 
    border-color: #ddd;
}

#versions, #footer { color: #555; }
#versions a, #footer a { color: #6285cb; }
#footer img { height: 16px; }

.inlinelist ul li { 
    float: left; 
    display: block; 
    margin-left: 5px;
}

