{% extends "index.html" %}

{% block title %}RDFLib LOD Server{% endblock %}

 {% block intro %}
<h1>Welcome to a RDFLib LOD Server</h1>

<p>This is a <a href="http://linkeddata.org">Linked Open Data</a> like server for <a href="http://code.google.com/p/rdflib/">rdflib</a>.
    A <a href="http://www.w3.org/TR/rdf-sparql-query/">SPARQL</a> endpoint, conforming to the <a href="http://www.w3.org/TR/rdf-sparql-protocol/">SPARQL Protocol</a> with <a href="http://www.joseki.org/">Joseki</a> extensions is also included.</p>

<h3>Menu:</h3>
<ul>
  <li><a href="#resources">browse</a></li>
  <li><a href="#download">download</a></li>
  <li><a href="#query">query</a></li>
</ul>

<hr/>

<h2><a name="resources">Resources</a></h2>
{% if types[0].realurl!=None %}

<ul>
{% for t in types %}
<li><a href="#type{{loop.index0}}">{{t.label}}</a></li>
{% endfor %}
</ul>

{% for t in types %}
<h3><a name="type{{loop.index0}}"><a href='{{t.url}}'>{{t.label}} ({{t.count}})</a></a></h3>
<ul>
{% for r in resources[t.realurl] %}
<li><a href="{{r.url}}">{{r.label}}</a></li>
{% endfor %}
</ul>
{% endfor %}
{% else %}

<ul>
{% for r in resources[None] %}
<li><a href="{{r.url}}">{{r.label}}</a></li>
{% endfor %}
</ul>


{% endif %}

<hr/>

<h2><a name="download">Bulk Download</a></h2>

<p>You can download this entire dataset as: 

<ul>
  <li><a href="{{url_for("download", format_="xml") }}">RDF/XML</a></li>
  <li><a href="{{url_for("download", format_="n3") }}">N3</a></li>
  <li><a href="{{url_for("download", format_="nt") }}">N-Triples</a></li>
</ul>
<hr/>

{% endblock %}

