{% macro tree(items) %}
<ul>
{% for node,children in items recursive %}
	{% if node is mapping %}
        {% set node=[node] %}
	{% endif %}
    <li>
	{{ term(node) }}
	{% if children %}
		<ul>
		{{ loop(children) }}
		</ul>
	{% endif %}
	</li>
{% endfor %}
</ul>
{% endmacro %}

{% macro term(t) %}

{% if t is not mapping %}

{% for x in t %}
{{ term(x) }}
{{ ", " if not loop.last }}
{% endfor %}

{% else %}
<span class='term'>
  <a class="{{'external' if t.external }}" href="{{t.url}}">{{t.label}}</a>
{% if t.picked %}
<a class='picker' style="display: inline" href="{{url_for('pick', uri=t.realurl)}}"><img src="{{url_for('static', filename='star_active.png')}}" /></a>
{% else %}
<a class='picker hidden' style="display: none" href="{{url_for('pick', uri=t.realurl)}}"><img src="{{url_for('static', filename='star_inactive.png')}}" /></a>
{% endif %}
</span>

{% endif %}

{% endmacro %}
